.basket__back {
    width: 100%;
    padding-top: 9.7rem;
    padding-bottom: 50.3rem;
    background: rgba(239, 239, 239, 0.7);
    -webkit-backdrop-filter: blur(8.36597px);
    backdrop-filter: blur(8.36597px);
    @include absolute00;
    z-index: 1000;
    display: none;
}
