.part-4 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    min-width: 0;
    & img:nth-child(1) {
        display: block;
        width: 40.1rem;
        margin-bottom: 2rem;
        flex-shrink: 0;
    }
    & img:nth-child(2) {
        display: block;
        width: 20.9rem;
        margin-bottom: 2rem;
        flex-shrink: 0;
    }
}
@media only screen and (max-width: 36.99em) {
    .part-4 {
        & img:nth-child(1) {
            margin-bottom: 1.5rem;
        }
        & img:nth-child(2) {
            margin-bottom: 1.5rem;
        }
    }
}